.summary {
  margin-top: 40px;

  .title {
    font-weight: 600;
    font-size: 30px;
    position: relative;
    &:before {
      @include linebefore;
     }
     &:after {
      @include lineafter;
     }
  }

  .content {
    background-color:  $COLORT-CONTENT-BACKGROUND;
    line-height: 1.5em;
    margin-top: 30px;

    @include sp {
      width: 100%;
    }
  }

  .contentsummary {
    padding: 40px;
  }
}
