.sectionInfomation {
  text-align: center;
  background-color: #00ffff;
  padding: 50px;

 img {
   height: 200px;
   width: 200px;
   border-radius: 50%;
 }

 .infName {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 30px;
 }

 .information {
  margin-top: 30px;
 }
}