.experiences {
  margin-top: 40px;

  .title {
    font-weight: 600;
    font-size: 30px;
    position: relative;
    text-align: center;
    &:before {
      @include linebefore;
     }
     &:after {
      @include lineafter;
     }
  }

  .content {
    line-height: 1.5em;
    margin-top: 50px;

    @include sp {
      margin-top: 30px;
    }
  }

  .devBlock {
    padding: 40px;
    background-color: $COLORT-CONTENT-BACKGROUND;
  }

  .NTTDATA {
    margin-top: 30px;
    padding: 40px;
    background-color: $COLORT-CONTENT-BACKGROUND;
  }

  .TGL {
    margin-top: 30px;
    padding: 40px;
    background-color: $COLORT-CONTENT-BACKGROUND;
  }


  .ZAMO {
    margin-top: 30px;
    padding: 40px;
    background-color: $COLORT-CONTENT-BACKGROUND;
  }

  .ORIENT {
    margin-top: 30px;
    padding: 40px;
    background-color: $COLORT-CONTENT-BACKGROUND;
  }

  p {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      height: 2px;
      width: 30%;
      background: rgb(0, 0, 0);
    }

    @include sp {
      font-size: 20px;
    }
  }
}
