.experiences{
    margin-top: 40px;
  
    .title {
      font-weight: 600;
      font-size: 30px;
      position: relative;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        bottom: -0.35rem;
        height: 4px;
        background: rgb(251, 205, 12);
        width: 20px;
        left: 0px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -0.35rem;
        height: 4px;
        background: rgb(251, 205, 12);
        width: 130px;
        left: 25px;
      }
    }
  
    .content {
      background-color: rgb(235, 235, 235);
      line-height: 1.5em;
      margin-top: 50px;
    }
  
    .contentexperiences{
      padding: 40px;
    }
  }
  